* {
	box-sizing: border-box;
}

:root {
	--colorPrimaryHue: 326;
	--primaryColor: hsl(var(--colorPrimaryHue), 100%, 25%);
}

body {
	margin: 0;
	background: #c29ec6;
	font-size: 18px;
}

a {
	color: var(--primaryColor);
}


@media (prefers-color-scheme: dark) {
	:root {
		--primaryColor: hsl(var(--colorPrimaryHue), 100%, 55%);
	}

	body {
		background-color: #1c1c1c;

		color: white;
	}
}
