.main {
	position: relative;
	width: 100%;
	z-index: 1;
}

.underlayWrapper {
	position: absolute;
	z-index: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.underlay {
	position: relative;
	z-index: 0;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	display: grid;
	grid-template-columns: repeat(var(--columns, 10), 1fr);
	gap: 10px;
}

.box {
	transition:
		1s background-color,
		0.5s box-shadow;
	width: 80px;
	height: 80px;

	--colorBase: 0;
}

.active {
	background: rgba(var(--colorBase), var(--colorBase), var(--colorBase), 0.02);
}

.highlighted {
	box-shadow: inset rgba(var(--colorBase), var(--colorBase), var(--colorBase), 0.04) 0px 0px 1px 1px;
}

@media (prefers-color-scheme: dark) {
	.box {
		--colorBase: 255;
	}
}
